.Input {
    width: 100%;
    padding: 10px;

}

.Label {
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    background: white;
    border: 1px solid #ccc;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus{
    background-color: #ccc;
    outline: none;
}
.Invalid {
    border: 1px solid red;
}
.error_label {
    color: #F44336;
    font-weight: 600;
    margin: 0px 0px;
    position: absolute;
    bottom: -15px;
    font-size: 11px;
}
.pos{
    position: relative;
}